<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Réserver</h1>
            
            <%#
              Filterrific adds the `form_for_filterrific` view helper:
              * adds dom id 'filterrific_filter'
              * applies javascript behaviors:
                  * AJAX form submission on change
                  * AJAX spinner while AJAX request is being processed
              * sets form_for options like :url, :method and input name prefix
            %>
            <%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit' } do |f| %>
              <div>
                Destination
                <%= f.select(
                  :with_mountain_id,
                  @filterrific.select_options[:with_mountain_id],
                  { include_blank: '- Any -' }
                ) %>
              </div>
              <div>
                Date
                <%= f.text_field(:with_schedule_date, class: 'js-datepicker') %>
              </div>
              <div>
                <%= link_to(
                  'Reset filters',
                  reset_filterrific_url,
                ) %>
              </div>
              <%= f.submit 'Filter' %>
            <% end %>
            
            <%= render(
              partial: 'schedules/list',
              locals: { schedules: @schedules }
            ) %>
        </div>
    </div>
</div>