<!DOCTYPE html>
<html>
  <head>
    <title>Skibike Québec</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5ec8169bb0.js" crossorigin="anonymous"></script>
    
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

       
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="">
        <%= image_tag("logo.png", width: "80", height: "80") %>
  	  </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/schedules">Réservation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/shop">Boutique</a>
            </li>
            <%= render 'devise/menu/registration_items' %>
					  <%= render 'devise/menu/login_items' %>
					  <% if current_user && current_user.admin %>
  					  <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
              </li>
					  <% end %>
          </ul>
        </div>
      </div>
    </nav>
    
  <body class="d-flex flex-column h-100">
    <div class="row">
          <div class="col-12">
            <% if notice %>
            <div class="alert alert-success text-center" role="alert">
              <%= notice %>
            </div>
            <% elsif alert %>
            <div class="alert alert-danger text-center" role="alert">
              <%= alert %>
            </div>
            <% end %>
          </div>
    </div> 
    
    <%= yield %>
    
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker4').datetimepicker({
                format: 'L'
            });
        });
    </script>
  </body>
  
  <footer class="footer mt-auto py-3 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; SkiBike Québec 2020 par <a href="https://lewys.io" class="text-white" target="_blank">lewys.io</a></p>
      </div>
  </footer>
    
</html>
