<!DOCTYPE html>
<html>
  <head>
    <title>Skibike Québec</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="">
        <%= image_tag("logo.png", width: "75", height: "75") %>
  	  </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#booking">Réservation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#location">Destinations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#team">L'équipe</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="shop.html">Boutique</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
  <body>
    
    <%= yield %>
    
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; SkiBike Québec 2020</p>
      </div>
    </footer>
    
    <script>
      $("nav ul li a[href^='#']").on('click', function(e) {

         // prevent default anchor click behavior
         e.preventDefault();
      
         // store hash
         var hash = this.hash;
      
         // animate
         $('html, body').animate({
             scrollTop: $(hash).offset().top - 150
           }, 700, function(){
      
             // when done, add hash to url
             // (default click behaviour)
             window.location.hash = hash;
           });
      
      });
    </script>
  </body>
</html>
